html {
  background-color: #eaeaea;
}

#zip-container {

  background: black;
  opacity :.7;
  min-width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


